bld/
bin/
target/
.idea/
venv/
.project
*.o
*.class
.classpath
.settings/
.idea/
*.iml
bin/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.pyc
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
