<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.walterfan.account.mybatis.LinkMapper">
    <cache />
    
    <!-- Mapping Parent -->
    <resultMap type="com.github.walterfan.account.domain.Link" id="LinkMap">
        <id column="id" property="id"  />
        <result column="name" property="name"  /> 
        <result column="url"  property="url"  /> 
        <result column="tags" property="tags"  /> 

        <association property="category" javaType="com.github.walterfan.account.domain.Category">
		    <id property="categoryID" column="categoryid"/>
		    <result property="categoryName" column="categoryname"/>
		</association>
        <!-- if collection is used SQL should be in XML 
        <collection property="children" column="parentId" select="selectAllChildren" javaType="ArrayList" />
        -->
    </resultMap>
 
  
    <!-- Mapper.selectAllParent() -->
    <select id="selectAllLink" resultMap="LinkMap" timeout="10">
       select a.id, a.name, a.url, a.tags, b.categoryid, c.name as categoryname 
       from link a, linkcategory b, category c 
       where a.id=b.linkid and b.categoryid=c.id
    </select>
 
</mapper>
